.nav {
  background-color: #1AC8A2;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.nav a {
  width: 50px;
  padding: 10px;
  color: white;
  text-align: center;
}

.nav a:hover {
  background-color: #0A5141;
}

.active {
  background-color: #0A5141;
}

.inactive {
  
}